<section>
    {{!-- <div class="container mt-4">
        <div class="row"> --}}

            <div style="margin-left: 350px;">
                
                <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                    <div class="container mt-5 mb-5 p-3" style="border: 1px dashed gray;background-color:white;width: 600px;margin-left:0;">
                    <h2 class=" mt-3 text-center">Add Product</h2>
                    <hr class="mt-3" style="height: 2px;background-color:black;">
                    <div class="row p-3">
                    <div class="form-group mt-3">
                        <label for=""><strong>Name</strong></label>
                        <input type="text" name="Name" class="form-control" required>
                    </div>

                    <div class="form-group mt-3">
                        <label for=""><strong>Category</strong></label>
                        <input type="text" name="Category" class="form-control" required>
                    </div>

                    <div class="form-group col mt-5">
                        <label for=""><strong>Price</strong></label>
                        <input type="text" name="Price" class="form-control" required>
                    </div>

                    <div class="form-group col mt-5">
                        <label for=""><strong>Offer Price(Optional)</strong></label>
                        <input type="text" name="OfferPrice" class="form-control" value="0">
                    </div>

                    <div class="form-group mt-5">
                        <label for=""><strong>Description</strong></label>
                        <input type="text" name="Description" class="form-control" required>
                    </div>

                    <div class="form-group col mt-5">
                        <label for=""><strong>Total Stock</strong></label>
                        <input type="text" name="Stock" class="form-control" required>
                    </div>

                    <div class="form-group col mt-5">
                        <label for=""><strong>Image</strong></label>
                        <input name="image" type="file" class="form-control" required>
                    </div>

                    <div class="form-group">
                        
                    </div>

                    <div class="form-group col mt-5">
                        <label for=""><strong>Image 2</strong></label>
                        <input name="image2" type="file" class="form-control" required>
                    </div>

                    <div class="form-group col mt-5">
                        <label for=""><strong>Image 3</strong></label>
                        <input name="image3" type="file" class="form-control" required>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-success m-4 float-end" style="width: 150px;">Submit</button>
                    </div>

                </div>
                </div>
                </form>
            </div>
        {{!-- </div>
    </div> --}}
</section>