<style>
     #admin {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px red;
    background-color: black;
    color: white; 
   }
   .nav-item{
    margin-left: 30px;
   }
   .nav-link{
    font-size: 20px;
    font-weight: bold;
   }
   .navbar-dark .navbar-nav .nav-link{
    color: black;
   }
   .navbar-dark .navbar-nav .nav-link.active{
        color: white;
   }
   .navbar-dark .navbar-nav .nav-link:hover {
    color: red;
   }
</style>

<header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" style="height:120px;">
            <div class="container-fluid">
                {{!-- <a class="navbar-brand" href="#">Admin Panel</a> --}}
                <button style="width: 140px;height:120px;border-radius: 120px;font-size:20px" id="admin">ADMIN PANEL</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin">All Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">All Orders</a>
                </li>
        
               <li class="nav-item">
                    <a class="nav-link" href="/admin/allusers">All Users</a>
                </li>
            </ul>
            </div>
            </div>
        </nav>
    </header>

    <script>

        var links = document.querySelectorAll('.navbar-nav .nav-link');
        var currentUrl = window.location.pathname;
        for (var i = 0; i < links.length; i++) {
            var link = links[i];

            if (link.getAttribute('href') === currentUrl) {
                link.classList.add('active');
            }
        }

    </script>