  <!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom"></section>
  <section class="">
    <div class="container text-center text-md-start mt-3">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h5 class="text-uppercase fw-bold mb-4" style="color: orange;">
            <i class="fas fa-gem me-3 text-white"></i>e-Shop
          </h5>
          <p class="text-white">
            Electronic Gadgets are more demand in our world.You can purchase it in your own place and your affordable price.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: orange;">
            USEFUL LINKS
          </h6>
          <p class=" text-white">
            <a href="/" class="text-reset">About e-Shop</a>
          </p>
          <p class=" text-white">
            <a href="/" class="text-reset">FAQ</a>
          </p>
          <p class=" text-white">
            <a href="/" class="text-reset">Log in</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-3">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: orange;">
            CUSTOMER SERVICES
          </h6>
          <p class=" text-white">
            <a href="/" class="text-reset">Payment Methods</a>
          </p>
          <p class=" text-white">
            <a href="/" class="text-reset">Money-back guarantee !</a>
          </p>
          <p class=" text-white">
            <a href="/" class="text-reset">Returns</a>
          </p>
          <p class=" text-white">
            <a href="/" class="text-reset">Shipping</a>
          </p>
          <p class=" text-white">
            <a href="/" class="text-reset">Terms & Conditions</a>
          </p>
          <p class=" text-white">
            <a href="/" class="text-reset">Privacy Policy</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: orange;">Contact</h6>
          <p class="text-white"><i class="fas fa-home me-3 text-white"></i> New York, NY 10012, US</p>
          <p class="text-white">
            <i class="fas fa-envelope me-3 text-white"></i>
            info@example.com
          </p>
          <p class="text-white"><i class="fas fa-phone me-3 text-white"></i> + 01 234 567 88</p>
          <p class="text-white"><i class="fas fa-print me-3 text-white"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>

    <hr class="mt-1" style="height: 2px;background-color:white">
     <!-- Copyright -->
    <div class="row">
        <div class="col-md-6" style="color: white;">
            <p class="m-3 text-reset"> Copyright © 2021 Molla Store. All Rights Reserved.</p>
        </div>
        <div class="col-md-2 col-lg-1 col-xl-3 mx-auto mb-md-0 mb-2">
            
             <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button">
                <i class="fab fa-google"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-3" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div> 
    <!-- Copyright -->
  </section>
</footer>
<!-- Footer -->

<script>
    document.querySelectorAll("a.text-reset").forEach(function(link) {
        link.addEventListener("click", function() {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    });
</script>