<style>
     .badge{
        position: relative;
    }
    #b1:after{
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background-color: rgb(40, 84, 231);
        position: absolute;
        top: 10px;
        left:24px;
    }
    #b2:after{
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background-color: blue;
        position: absolute;
        top: 10px;
        left:24px;
    }
</style>

<section>

    <div class="container mt-3" style="width: 100%;height:80px;background-color:white;">
        <div style="display: flex;">
        <span class="badge bg-primary mt-4 p-1" style="border-radius: 400px;margin-left:250px;" id="b1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
        </span>
        <span class="badge bg-primary mt-4 p-1" style="border-radius: 300px;margin-left:250px;" id="b2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
        </span>
        <span class="badge bg-primary mt-4 p-1" style="border-radius: 300px;margin-left:250px;" id="b3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>
        </span>
        </div>
        <div style="display: flex;">
            <h6 style="margin-left: 220px;">Order Placing</h6>
            <h6 style="margin-left: 190px;">Address</h6>
            <h6 style="margin-left: 210px;">Payment</h6>
        </div>
    </div>

    <div class="container">

        <div class="card" style="margin-top: 100px;">
            <div class="card-header p-5" style="background-color: aquamarine;text-align:center">
                <h3>Thank you {{user.Name}}.</h3>
                <h4>Order Placed Successfully</h4>
            </div>
        </div>
        <a href="/orders" class="btn btn-dark mt-5 col-2 p-3" style="margin-left: 40%;">View order</a>
        
    </div>
    <hr class="m-5">
</section>

<style>
    .btn:hover{
        background-color: orange;
        color: black;
        font-size: 18px;
    }
</style>